name: Manual Test

on:
  workflow_dispatch:
    inputs:
      env:
        description: 'env'
        required: true
        type: choice
        options:
        - dev
        - stg
        - prd
      image_tag_name:
        description: 'docker image tag'
        type: string
        required: true

jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: Echo inputs
        run: |
          echo "Env: ${{ inputs.env }}"
          echo "Image Tag Name: ${{ inputs.image_tag_name }}"
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup docker image tag
        id: setup-image-tag
        run: |
          commit_hash="$(echo ${{ github.sha }} | cut -c 1-7)"
          docker_image_tag="${{ inputs.image_tag_name }}-${commit_hash}"
          echo "docker_image_tag: $docker_image_name"
          echo "docker_image_tag=$docker_image_name" >> "$GITHUB_OUTPUT"
      - name: Build docker image and run
        run: |
          docker build . -t ${{ steps.setup-image-tag.outputs.docker_image_tag }}
          docker run --rm -t ${{ steps.setup-image-tag.outputs.docker_image_tag }}
