name: Manual Trigger

on:
  workflow_dispatch:
    inputs:
      env:
        description: 'env'
        required: true
        type: choice
        options:
        - dev
        - stg
        - prd
      image_tag_name:
        description: 'docker image tag'
        type: string
        required: true

jobs:
  build-test:
    runs-on: ubuntu-latest
    environment: ${{ inputs.env }}
    steps:
      - name: Echo inputs
        run: |
          echo "dummy secret key: ${{ secrets.DUMMY_SECRET_KEY }}"
          echo "env name: ${{ vars.NAME }}"
      - name: Echo github variables
        run: |
          echo "github.ref: ${{ github.ref }}"
          echo ${{GITHUB_REF#refs/pull/}}
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup docker image tag
        id: setup-image-tag
        run: |
          commit_hash="$(echo ${{ github.sha }} | cut -c 1-7)"
          docker_image_name="echo-test:${{ inputs.image_tag_name }}-${commit_hash}"
          echo "docker_image_name: $docker_image_name"
          echo "docker_image_name=$docker_image_name" >> "$GITHUB_OUTPUT"
      - name: Build docker image and run
        run: |
          docker build . -t ${{ steps.setup-image-tag.outputs.docker_image_name }}
          docker run --rm -t ${{ steps.setup-image-tag.outputs.docker_image_name }}
