name: Pull Request Trigger

on:
  pull_request:
    branches:
      - main

jobs:
  echo:
    strategy:
      matrix:
        env:
          - dev
          - stg
          - prd
    uses: ./.github/workflows/echo-enviroments.yaml
    secrets: inherit
    with:
      env: ${{ matrix.env }}

  echo-test:
    uses: ./.github/workflows/echo-secret.yaml
    secrets: inherit
    with:
      secret-name: DUMMY_SECRET_KEY
